@import "../index.css";

.tech--page {
    background: var(--clr-dark);
    margin-bottom: -100em;
}

.my-technologies {
    background-color: var(--clr-dark);
    background-image: url(../images/technologies.jpg);
    background-size: cover;
    /* below will darken background */
    /* background-blend-mode: multiply; */
    color: var(--clr-light);
    text-align: center;
}

.section__title--technology {
    color: var(--clr-accent);
    position: relative;
}

.section__title--technology::after {
    content: '';
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background: var(--clr-light);
    opacity: 0.25;
}

.technology-item {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 4em;
}

.tech__img {
    display: block;
    max-height: 15em;
    max-width: 15em;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.tech__name{
    color: var(--clr-light);
    font-size: x-large;
    text-align: center;
    margin-top: 1em;
    padding-bottom: 3em;
}

.tech--table {
    width: calc(100% / 1.5) !important;
    display: flex;
    justify-content: center !important;
}

.tech__list {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


@media (min-width: 800px) {
    .technologies {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
    }

    .technology-item  + .technology-item {
        padding-left: 2em;
    }
}